################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/program/.vs/program/v17/Browse.VC.opendb
/.vs/texteditor2/v17/Browse.VC.opendb
